.slidestripe img{display: none;}
.slidestripe img.first {display: block;}



.slidestripePager a { margin: 0 5px; padding: 3px 5px; border: 1px solid #ccc; background: #fc0; text-decoration: none }
.slidestripePager a.activeSlide { background: #ea0 }
.slidestripePager a:focus { outline: none; }
